<h1>Welcome to Vietlott fetched page </h1>

<br>
<br>

<%= form_tag fetch_task_path, :method => 'post', :id => "form_id" do %>
   <%= submit_tag "Get Lottery Result",   :name => "fetch_data" %>
<% end %>

<%= form_tag fetch_task_path, :method => 'post', :id => "form_id" do %>
  <%= submit_tag "Get Statistic Result", :name => "get_statistic" %>
<% end %>


<div class="digg_pagination">
  <%= will_paginate @lotteries %>
</div>

<br>
<table class="table table-sm">
    <thead>
      <tr>
      <th>No</th>
      <th>Lottery date</th>
      <th>Lottery result</th>
      </tr>
    </thead>
    <%# <%= render 'static_pages/lottery' , lottery: @lotteries %>
    <% @lotteries.each do |lottery| %>    <tr>
      <td> <%= @lottery_size - lottery.id %> </td>
      <td> <%= lottery.result_date %> </td>
      <td> <%= lottery.result_no %>  </td>
    </tr>
    <% end %>
</table>