<!DOCTYPE html>
<html>
  <head>
    <title>GetLottery</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
  </head>

  <body>
    <%= render 'front_pages/header' %>
    <%= render 'layouts/notify' %> 
    <%= yield %>
    <%= render 'front_pages/footer' %>
  </body>
</html>
